section.companies.ams-std-sect.bg-gray
	.wrapper
		.fake-h2 Наши клиенты уже работают в этих 
			br
			| и многих других крупных компаниях
	.wrapper.companies-logos
		- for (var i=0; i < 15; i++)
			.companies-logo
				img(src="img/sect-companies/"+(i+1)+".png", alt="alt")
	.wrapper.sect-bottom-info
		.sect-bottom-info__l
			p Присоединяйся к сообществу профессионалов и начинай обучение прямо сейчас.
		.sect-bottom-info__r
			a(href="#enter-popup" data-tab="item1").button.button-blue.button-lg.to-popup Начать учиться бесплатно