footer.footer
	.wrapper
		.footer-left
			.footer-left__content
				a(href="#").ams-logo
					img(src="img/logo.svg", alt="alt")

				p © 2010–2019 
					br 
					| Учебный центр МЕРКУЛОВ.А

			a(href="#").button.button-sm Все курсы

		.footer-middle
			.footer-middle__top
				ul.main-menu
					li.active
						a(href="#") Все курсы
				.ams-phone-block
					a(href="tel").main-tel 8-000-200-05-18
						+icon('phone')
					p с 10.00 до 18.00 по МСК 
			
			p Все права защищены. Использование материалов данного сайта разрешено только с согласия правообладателей.

		.footer-right
			ul.ams-socials
				li
					a(href="#")
						+icon('fb')
				li
					a(href="#")
						+icon('tw')
				li
					a(href="#")
						+icon('vk')
				li
					a(href="#")
						+icon('yt')
				li
					a(href="#")
						+icon('tg')
			p
				a(href="#").ams-link Политика конфиденциальности
				a(href="#").ams-link Публичная оферта


			.footer-right__mob-text
				p Все права защищены. Использование материалов данного сайта разрешено только с согласия правообладателей.
				
				p © 2010–2019 
					br 
					| Учебный центр МЕРКУЛОВ.А
