section.main-top
	.wrapper
		.main-top__text
			h1 Хотите освоить AutoCAD, Revit, ARCHICAD 
				br
				| или 3ds Max?
			p Получите доступ к десяткам бесплатных учебных 
				br
				| материалов и библиотекам блоков, моделей и текстур.

			a(href="#enter-popup" data-tab="item1").button.button-blue.button-lg.to-popup Начать учиться бесплатно

		.main-top__img
			img(src="img/main-top-img.jpg", alt="alt")