section.training-center.with-heading
	.wrapper
		.heading
			h2 Учебный центр AMS, от 0 до профи
			.ams-slider-nav
				.ams-slider-prev
					//- +icon('slider-prev') 
				.ams-slider-next
					//- +icon('slider-next') 

	.wrapper.ams-tiles
		- var tiles = [{title: 'Обучаем тех, кто начинает с нуля', text: 'Программы обучения создаются для студентов, которые впервые открывают программу. Наши курсы - это постепенное движение от простого к продвинутому.'}, {title: 'Разбор реализованных рабочих проектов', text: 'Преподаватели - практики ведут занятия на основе реализованных ими проектов. Вы получаете прикладные навыки работы в программах.'}, {title: 'Создание портфолио', text: 'За время учебы у нас вы сможете создать портфолио из нескольких работ.'}];
		
		each tile, index in tiles
			.ams-tile
				.ams-tile__top
					.ams-tile__img(style="background-image: url(img/tiles/"+(index+1)+".jpg)")
				.ams-tile__text
					h3= tile.title
					p= tile.text
	.wrapper-no-fl
		ul.slider-dots
			- for (var i=0; i < 4; i++)
				if i == 0
					li.active
						a(href="#")
				else
					li
						a(href="#")
	.wrapper.sect-bottom-info
		.sect-bottom-info__l
			p Получи доступ к десяткам бесплатных учебных материалов и библиотекам блоков, моделей и текстур.
		.sect-bottom-info__r
			a(href="#enter-popup" data-tab="item1").button.button-blue.button-lg.to-popup Начать учиться бесплатно
