script(src="js/libs/jquery/jquery-1.11.2.min.js")
script(src='js/libs/jquery-ui/jquery-ui.min.js')
script(src="js/libs/hoverIntent.js")
script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
script(type="text/javascript" src="js/libs/svg4everybody/svg4everybody.min.js" async onload="svg4everybody();")