include _misc/_mixins
.material-banner.material-banner--3dsmax
	.material-banner__top(style="background-image: url(img/material/banners/3dsmax-img.jpg)")
		.material-banner__logo
			img(src="img/material/banners/3dsmax.png", alt="alt")
	.material-banner__body
		.material-banner__title 99 текстур 
			br
			| для интерьера
		p + мастер-класс 
			br
			| по настройке материалов

		.material-banner__bottom
			a(href="#").material-banner__button
				+icon('arrow-right')
				| Скачай бесплатно

.material-banner.material-banner--archicad
	.material-banner__top(style="background-image: url(img/material/banners/archicad-img.jpg)")
		.material-banner__logo
			img(src="img/material/banners/archicad.svg", alt="alt")
	.material-banner__body
		.material-banner__title 99 текстур 
			br
			| для интерьера
		p + мастер-класс 
			br
			| по настройке материалов

		.material-banner__bottom
			a(href="#").material-banner__button
				+icon('arrow-right')
				| Скачай бесплатно

.material-banner.material-banner--revit
	.material-banner__top(style="background-image: url(img/material/banners/revit-img.jpg)")
		.material-banner__logo
			img(src="img/material/banners/revit.png", alt="alt")
	.material-banner__body
		.material-banner__title Идеальный шаблон Revit
		p бесплатный гайд для начинаюших 

		.material-banner__bottom
			a(href="#").material-banner__button
				+icon('arrow-right')
				| Скачай бесплатно