extends _misc/main

block title
	| Категория

block content
	.ams-banner.ams-banner--red-field
		.ams-banner__img
			img(src="img/category/category-banner2.jpg", alt="alt")
		.wrapper
			.ams-banner__text
				.ams-banner__label Бесплатный видеокурс по AutoCAD
				.fake-h1 Создай проект в AutoCAD за 2 часа «С нуля» до печати
				p Курс закроет все основные вопросы, связанные 
					br
					| с работой в AutoCAD
				a(href="#enter-popup" data-tab="item1").button.button-lg.to-popup Пройти курс бесплатно

	.category-content.bg-gray
		.wrapper
			.category-top
				h1 Статьи
				.category-top__serch-block
					a(href="#").ams-link-with-hover #[span стать автором]
					.ams-search
						label
							input(type="text" placeholder="Поиск")
							+icon('magnifier')
	
		.wrapper.ams-tiles
			- var tiles = ['Мастер-класс №2 "Библиотеки AutoCAD и супер-извлечение данных"', 'Моторика работы в AutoCAD. Как чертить быстро.', 'Привязка Lisp-приложений'];
			each tile, ind in tiles
				a(href="#").ams-tile.ams-tile--bg
					.ams-tile__img(style="background-image: url(img/category/"+(ind+1)+".jpg);")
						//- img(src="img/category/"+(ind+1)+".jpg", alt="alt")

					h2= tile
					.ams-tile__bottom
						.ams-tile__date 27.09.2018 г
						.ams-tile__views
							+icon('eye')
							span 27.09.2018 г

				if ind < 0 && ind < 3
					a(href="#").ams-tile.ams-tile--bg
						.ams-tile__img(style="background-image: url(img/category/"+(ind+1)+".jpg);")
							//- img(src="img/category/2.jpg", alt="alt")

						h2= tile
						.ams-tile__bottom
							.ams-tile__date 27.09.2018 г
							.ams-tile__views
								+icon('eye')
								span 27.09.2018 г

				
			- for (var i=0; i < 6; i++)
				a(href="#").ams-tile.ams-tile--bg
					.ams-tile__img(style="background-image: url(img/category/"+(i+3)+".jpg)")
						//- img(src="img/category/"+(i+3)+".jpg", alt="alt")

					h2 Мастер-класс №2 "Библиотеки AutoCAD и супер-извлечение данных"
					.ams-tile__bottom
						.ams-tile__date 27.09.2018 г
						.ams-tile__views
							+icon('eye')
							span 27.09.2018 г
			.button-wrapper
				a(href="#").button.button-sm.button-std Показать еще
