extends _misc/main

block title
	| Главная страница

block content
	include _sections/main-top
	include _sections/features
	include _sections/programs
	include _sections/training-center
	include _sections/reviews
	include _sections/indicators
	include _sections/companies