.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-Homework {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-Play {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-Plus {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-Round-Facebook {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-Round-Mail {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-Round-VK {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-Round-Yandex {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-arrow-left {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-arrow-right {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-arrow-top {
	font-size:(36/10)*1rem;
	width:(36/36)*1em;
}
.icon-check {
	font-size:(11/10)*1rem;
	width:(11/11)*1em;
}
.icon-chevron-down {
	font-size:(16/10)*1rem;
	width:(20/16)*1em;
}
.icon-chevron-up {
	font-size:(16/10)*1rem;
	width:(20/16)*1em;
}
.icon-close {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-dislike {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-enter {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-eye {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-fb {
	font-size:(16/10)*1rem;
	width:(8/16)*1em;
}
.icon-img {
	font-size:(15/10)*1rem;
	width:(16/15)*1em;
}
.icon-lessons {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-like {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-loc-unopened {
	font-size:(15/10)*1rem;
	width:(12/15)*1em;
}
.icon-lock-open {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-magnifier {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-open {
	font-size:(12/10)*1rem;
	width:(16/12)*1em;
}
.icon-phone {
	font-size:(16/10)*1rem;
	width:(7/16)*1em;
}
.icon-share {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-smile {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-tg {
	font-size:(14/10)*1rem;
	width:(16/14)*1em;
}
.icon-tick {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-time {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-triangle {
	font-size:(5/10)*1rem;
	width:(10/5)*1em;
}
.icon-tw {
	font-size:(14/10)*1rem;
	width:(16/14)*1em;
}
.icon-vk {
	font-size:(10/10)*1rem;
	width:(16/10)*1em;
}
.icon-yt {
	font-size:(12/10)*1rem;
	width:(16/12)*1em;
}
