$text: #303030;
$accent: #FFB000;
// $blue: #2079FF;
$blue: #428EFF;
$light-text: #95A3B1;
$gray: #707070;
$gray-bg: #F4F7FA;
$ams-link: #656F78;
$green: #BFDD57;


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
// $grid-gutter-width: 30px;
// $grid-columns: 12;
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
// $container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1170px);

// $gutter: $grid-gutter-width;

// $ff: 'Montserrat', sans-serif;
// $reg: 400;
// $med: 500;
// $bold: 700;

$reg: "MontserratRegular", sans-serif;
$med: "MontserratMeduim", sans-serif;
$semi: "MontserratSemiBold", sans-serif;
$bold: "MontserratBold", sans-serif;
$black: "MontserratBlack", sans-serif;





