.category-top{
	@include col();
	@include size(12);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 21px;	
	padding-top: 40px;
	h1{
		@extend .fake-h2;
		margin-bottom: 0;	
	}

	&__serch-block{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;

		.ams-search{
			margin-left: 46px;

			label{
				margin-bottom: 0;	
			}
		}
		@include max-screen(768px){
			display: block;
			text-align: right;
		}
		@include max-screen(576px){
			display: none;
		}
	}
}
.category-content{
	padding-bottom: rem(58);

	.button-wrapper{
		@include col();
		@include size(12);

		@include max-screen(576px){
			display: none;
		}
	}
	@include max-screen(576px){
		padding-bottom: 10px;
	}
}