.catalog{
	position: relative;
	&:after{
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		// width: 100%;
		width: calc(100% - 1200px);
		height: 100%;
		z-index: 0;
		@extend .bg-gray;
		// background-color: gray;

		@include max-screen(1300px){
			width: 50%;
		} 
		@include max-screen(960px){
				display: none;	
		} 
	}
	&-wrapper{
		position: relative;
		z-index: 1;
		@include max-screen(375px){
			padding-left: 0;
			padding-right: 0;
		}  
	}
	@include max-screen(960px){
		background-color: $gray-bg;
	}
	@include max-screen(576px){
		margin-top: 23px;
	}  

}
.catalog-sidebar{
	@include col();
	@include size(4);
	@include size-mdr(3);
	padding-right: 30px;
	padding-top: 50px;
	h1{
		@extend .fake-h3;
		text-transform: uppercase;
		margin-bottom: 27px;

		@include max-screen( 992px){
			font-size: 18px;	
			line-height: 	normal;
		}  	
	}
	.sidebar-menu__list{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.sidebar-menu__nav{
		margin-bottom: 0;
	}
	.ams-checks{
		label{
			width: auto;
			display: inline-block;
			margin-bottom: 20px;
		}
	}
	.sidebar-menu__nav li a{
		@include max-screen(1100px){
			font-size: 22px;
			
		}
		@include max-screen(960px){
			font-size: 15px;
			
		}  
	}
	@include max-screen( 992px){
		padding-right: 15px;	
	}
	@include max-screen( 960px){
		display: none;	
	}  
}
.catalog-content{
	@include col();
	@include size(8);
	@include size-mdr(9);
	@include size-mdd(12);
	position: relative;
	padding-top: 40px;

	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 100%;
		@extend .bg-gray;
		width: 30px;
		height: 100%;
		z-index: 0;

		@include max-screen( 960px){
			display: none;	
		}  	
	}
	h2{
		margin-bottom: 20px;
		@include max-screen(375px){
			padding-left: 20px;
			padding-right: 20px;
		}  	
	}
	.ams-card-wrapper{
		position: relative;
		margin-bottom: 20px;
		z-index: 1;
		.ams-card{
			@include size(6);
			@include size-sm(12);

			&--wide{
				@include size(12);
			}
			@include max-screen( 375px){
				width: 100%;
				margin-left: 0;
				margin-right: 0;	
			}  	
		}

		&.wrapper-wide{
			@include max-screen(375px){
				margin-right: 0;
				margin-left: 0;
				padding-right: 0;
				padding-left: 0;
			}
		}
	}
	@include max-screen( 375px){
		margin-left: 0;
		margin-right: 0;
		width: 100%;	
	}
}