.programs{
	padding-bottom: rem(53);
	.fake-h2{
		margin-bottom: 32px;
		@include max-screen(576px){
			margin-bottom: 24px;
		}  
	}
	
	.ams-card-wrapper{
		.ams-card{

			&:last-child{
				@include max-screen(576px){
					margin-bottom: 0;
					
				}  
			}

		}
	}
	@include max-screen(576px){
		padding-bottom: 0;
	}


}
.programs-nav-container{
	@include col();
	@include size(12);
	margin-bottom: 50px;

	span{
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			padding: 6px 15px;
			font-size: 15px;
			@extend .button;
			&:hover{
				background-color: $accent;
			}
	}
	@include max-screen(768px){
		
		padding-bottom: 10px;
	}
	@include max-screen(576px){
		margin-bottom: 0;
	}  
	
}
.programs-nav{
	display: inline-block;
	margin-left: -10px;
	vertical-align: middle;
	li{
		list-style-type: none;
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;

		a{
			display: block;
			padding: 6px 15px;
			font-size: 15px;
			border-radius: 5px;
			text-decoration: none;
			color: $text;
			font-family: $bold;
			text-transform: uppercase;


			&:hover{
				background: $accent;
				color: #fff;
				@include max-screen(768px){
					background-color: #5C9DFF;
				}
			}
			@include max-screen(768px){
				color: #fff;
				background-color: $blue;
			}

		}

		&.active{
			a{
				background: $accent;
				color: #fff;
			}
		}
		// &:first-child{
		// 	padding: 6px 15px;
		// 	font-size: 15px;
		// 	// @extend .button;
		// 	color: #fff;
		// 	border-radius: 5px;
		// 	text-transform: uppercase;
		// 	font-family: $bold;
		// 	background-color: $accent;
		// }

		@include max-screen(768px){
			margin-bottom: 20px;
		}  
	}
	&--all-links{
		li{
			&:first-child{
				padding: 0;

				@include max-screen(768px){
					background-color: $blue;
				}
			}
			&.active{
				a{
					@include max-screen(768px){
						background-color: $light-blue;
					}
					
				}
			}
		}
	}
	&--with-fake-link{
		li{
			&:first-child{
				padding: 6px 15px;
				font-size: 15px;
			// @extend .button;
			color: #fff;
			border-radius: 5px;
			text-transform: uppercase;
			font-family: $bold;
			background-color: $accent;
		}
		}
	}
}